html, body {
	height: 100%;
	min-height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #e6ceaa;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1 {
	text-align: center;
	margin: 5px;
	color: #333333;
	font-family: 'Heebo', sans-serif;
	font-size: 30px;
}

.container {
	width: 450px;
	height: 450px;
	margin: 0px auto;
 	position: relative;
 	border: 20px solid #333333;
 	border-radius: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: hidden;
	-webkit-box-shadow: -1px 4px 25px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 4px 25px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 4px 25px 0px rgba(0,0,0,0.75);
}

.color {
	outline: 12px solid #333333;
	flex-basis: 225px;
	height: 225px;
}

.red {
	background-color: #9f0f17;
}

.blue {
	background-color: #094a8f;
}

.green {
	background-color: #00a74a;
}

.yellow {
	background-color: #cca707;
}

.yellow-light{
  background-color : #fed93f;
}

.blue-light{
  background-color : #1c8cff;
}

.red-light{
  background-color : #ff4c4c;
}

.green-light{
  background-color : #13ff7c;
}

.on {
	color: #00a74a;
}

.off {
	color:  #9f0f17;
}

.controller {
    width: 185px;
    height: 185px;
    background-color: #ece7ee;
    border: 12px solid #333333;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: default;
}

.count-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.count-lable {
	align-self: center;
	margin-right: 5px;
	font-family: 'Heebo', sans-serif;
	color: #242424;
}

.count {
	display: inline-block;
	width: 46px;
	height: 30px;
	padding-right: 4px;
	color: #ff4c4c;
	line-height: 30px;
	font-size: 22px;
	text-align: center;
	background-color: #242424;
	border-radius: 5px;
	border: 1px solid #333333;
}


.start, .strict {
	background-color: #e1e1e1;
	font-family: 'Heebo', sans-serif;
	cursor: pointer;
}

.start {
	color: #242424;
}
